.vscode
xv6-riscv/*~
xv6-riscv/_*
xv6-riscv/*.o
xv6-riscv/*.d
xv6-riscv/*.asm
xv6-riscv/*.sym
xv6-riscv/*.img
xv6-riscv/vectors.S
xv6-riscv/bootblock
xv6-riscv/entryother
xv6-riscv/initcode
xv6-riscv/initcode.out
xv6-riscv/kernelmemfs
xv6-riscv/mkfs
xv6-riscv/kernel/kernel
xv6-riscv/user/usys.S
xv6-riscv/.gdbinit